<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href={`https://eeshansrivastava89.github.io/ucla-lectures/`} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>{Astro.props.title}</title>
</head>
<body class="bg-white text-neutral-900 antialiased">
  <slot />
</body>
</html>